<a href="/">
    <div class="sidebar_button">
        <img src="/images/icons/line-chart.svg"/>
    </div>
</a>
<a href="/house">
    <div class="sidebar_button">
        <img src="/images/icons/house-outline.svg"/>
    </div>
</a>