doctype html
html
    head
        include includes/head.html
    body
        div(id="sidebar")
            include includes/sidebar.html

        div(id="main")
            div(id="header")
                include includes/header.pug

            div(id="content")
                block content
                    include pages/home.html