script(type='text/javascript').
    var sensors = !{JSON.stringify(sensors)}
each sensor in sensors
    div(class="sensor", id="sensor-" + sensor._id)
        h2(class="title")
            //- 30 intervals means it's dead
            if((Date.now() - sensor.lastUpdate.date) / 1000 > 30 * sensor.lastUpdate.interval)
                span(class="activestatus inactive")
            //- 3 intervals means it might be dead
            else if((Date.now() - sensor.lastUpdate.date) / 1000 > 3 * sensor.lastUpdate.interval)
                span(class="activestatus possibly-inactive")
            else
                span(class="activestatus active")
            span(class="title-text") #{sensor.displayName}
            button(type="button", class="edit-title-button btn", onclick="Admin.changeTitle('" + sensor._id + "')")
                i(class="fa fa-pencil")
            button(type="button", class="delete-sensor-button btn btn-danger", onclick="Admin.deleteSensor('" + sensor._id + "')")
                i(class="fa fa-times")


        form(class="form-inline sensordata")
            if sensor.enabled
                button(type="button", class="enablebutton btn btn-success", onclick="Admin.changeEnabled('" + sensor._id + "')") Enabled
            else
                button(type="button", class="enablebutton btn btn-danger", onclick="Admin.changeEnabled('" + sensor._id + "')") Disabled

            each dataType in sensor.dataTypes
                select(name="sensortype", class="form-control sensortype", onchange="Admin.changeDataTypes('"+sensor._id+"')")
                    each val in [{"name":"None","value":"none"},{"name":"Temperature","value":"temperature"},{"name":"Humidity","value":"humidity"}]
                        - var selected = (val.value == dataType)
                        option(value=val.value, selected=selected)= val.name

            button(type="button", class="addnewsensortype btn btn-primary", onclick="Admin.addTypeSelection('" + sensor._id + "')")
                i(class="fa fa-plus")

            button(type="button", class="edit-location btn btn-primary", onclick="Admin.locationSelector('" + sensor._id + "')") Edit location

if sensors.length == 0
    div No sensors found, please activate some!