<form class="form-inline">
    <select id="datatype" name="datatype" class="form-control">
        <option value="temperature">Temperature</option>
        <option value="humidity">Humidity</option>
    </select>
    <select id="timestep" name="timestep" class="form-control">
        <option value="minute">Minutes</option>
        <option value="hour">Hours</option>
        <option value="day">Days</option>
        <option value="month">Months</option>
    </select>
</form>

<canvas id="lineChart"></canvas>

<script>
let chart = new LineChart("lineChart");
chart.update();
$('#datatype').change(function(){chart.setDataType($(this).val())});
$('#timestep').change(function(){chart.setTimestep($(this).val())});
</script>