.sensor {
    margin-bottom: 10px;
    border-bottom: 1px solid #6f6f6f;
    min-width: 600px;
    max-width: 810px;
    padding-bottom: 2px;
}

button {
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.activestatus {
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

.activestatus.active {
    background-image: url(/images/icons/circle-green.png);
}

.activestatus.inactive {
    background-image: url(/images/icons/circle-red.png);
}

.activestatus.possibly-inactive {
    background-image: url(/images/icons/circle-orange.png);
}

.locationeditor {
    margin-top: 5px;
}