html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #eee;
    display: flex;
    flex-flow: row;
}

#sidebar {
    flex: 0 0 80px;
    background: #eee;
    z-index: 3;
    /*box-shadow: -3px 88px 20px 0 #000;*/
}

.sidebar_button {
    width: 80px;
    height: 80px;
    display: block;
}

.sidebar_button img {
    width: 60px;
    height: 60px;
    margin-left: 10px;
    margin-top: 10px;
}

.sidebar_button.selected, .sidebar_button:hover {
    background-color: #333;
}

#main {
    display: flex;
    flex-flow: column;
    width: 100%;
}

#header {
    flex: 0 0 50px;
    box-shadow: 0 -5px 20px black;
    background: #eee;
    z-index: 2;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}

#content {
    margin: 3px 0 0 3px;
}

#gameContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: -webkit-grab;
}

.timer {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
}